body {
	font-size: 16px;
	background-color: ghostwhite;
}

.box {
	width: 1000px;
	margin: 0 auto;
}

.fields {
	display: flex;
	width: 100%;
}

.fields:not(:last-child) {
	margin: 15px 0;
}

.fields > :not(:first-child) {
	margin: 0 20px;
}

.inline-list-container {
	display: inline-block;
}
.inline-list {
	display: flex;
	flex-direction: column;
}
.inline-list-item {
	flex-basis: 2em;
}

table {
	font-size: 16px;
	color: #000034;
	word-break: break-all;
}

h1 {
	text-align: center;
	font: bold 22px caption;
}

h2 {
	text-align: center;
	font: bold 16px small-caption;
}

.form { width: 100%; border: 0 }
.template { width: 100%; border: 1px solid #999999 }
.field-name { text-align: right }
.field-name ~ td { width: 750px; height: 22px }
.buttons { padding: 10px 0; background-color: #8ec8ff; text-align: center }
.buttons input { margin: 0 10px; min-width: 100px }
.notice-text { background-color: #cccccc }
fieldset {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #003cff;
	font-size: 16px;
}
legend { font: bold 16px caption; color: #003cff }
legend a { font: normal 16px caption; margin: 0 10px }

div#defenceplan { width: 100%; border: 1px solid #3399dd }
div#defenceplan table { table-layout: fixed; width: 100%; text-align: center }
div#defenceplan table thead tr { background-color: #3399dd; color: white }
div#defenceplan table td { padding: 5px }

form {
	font-size: 16px;
}
.form p {
	margin: 5px;
}
input {
	font-size: 16px;
}
input.date {
	width: 150px;
	text-align: center;
}
input.txt:not(:read-only) {
	background: url(../images/edit.svg) no-repeat left;
	text-indent: 20px;
}
input.txt {
	background: none;
	border: 0;
	border-bottom: 1px solid dimgray;
}
textarea.txt:not(:read-only) {
	background: url(../images/edit.svg) no-repeat left top;
	text-indent: 4ch;
	line-height: 1.5em;
}
textarea.txt {
	background: none;
	border: 1px solid dimgray;
}
input.full-width {
	width: 100%;
}
input.score { text-align: center }
input.scorep { text-align: center; border: 0 }
span.loading { display: inline-block; width: 100px; background: url(../images/loading.gif) center no-repeat }
span.tip { background: url(../images/bulb-yellow.png) left center no-repeat #ffface; padding-left: 20px; padding-right: 5px;
					 border: 1px solid #cccccc; color: #00aa00; font-size: 10pt }
span.paper-status { color: #0000ff }
span.paper-status-unhandled { color: #ff0000; font-weight: bold }
span.review-display-status { color: #cc00ee }
span.comment-notice { color: #ff0000; font-weight: bold }
hr { border: 1px solid #cccccc }
img { border: 0 }

a:not([class]):link {
	border-bottom: 1px dashed blue;
	text-decoration: none;
}
a:not([class]):hover {
	border-bottom: none;
	color: red;
}
a:not([class]):visited {
	border-bottom: 1px dashed blue;
}
a.resc { background: url(../images/down.png) left center no-repeat; padding-left: 20px; padding-right: 5px; }
a.open-window { background: url(../images/open-window.png) left center no-repeat; padding-left: 20px; padding-right: 5px; }
a.fileitem { text-decoration: none; }

ol, ul {
	padding: 10px;
}
ol > li:not(:last-child) {
	margin-bottom: 10px;
}
form[id^='form_'] div {
	padding: 10px 5px;
}

.record-comment {
	border-radius: 0 0 10px 10px;
	background-color: gainsboro;
	width: 1px;
	text-indent: 4ch;
}
.accepted-sign {
	color: #0a0;
	font: bold 20px normal;
}
.rejected-sign {
	color: #a00;
	font: bold 20px normal;
}

td.paper-group {
	padding-left: 20px;
	background: #3366cc url(../images/arrow-down.png) no-repeat left center;
	color: ghostwhite;
	font: bold 14px normal;
}