@import "global.css";

body.exp {
	background: url(../images/expert_bg.jpg) no-repeat fixed ghostwhite;
	margin: 0;
	font-size: 16px;
}
.divcontrol {
	display: inline;
}
.content {
	margin: 0 auto;
	padding: 10px 0;
	width: 100%;
	display: block;
	background-color: #ffffffc0;
}
.content .maintitle {
	font: bold 30px 楷体;
	color: #0000aa;
}
.title {
	font: bold 16px normal;
	color: #0000aa;
}