admin/export/*
admin/rar/*.rar
admin/rar/unzip.exe
admin/tmp/*
admin/upload/defence_plan/
admin/upload/degree_eval/
admin/upload/detect_report/*
admin/upload/detect_stats/
admin/upload/instruct_member_match_result/
admin/upload/new_paper_table/
admin/upload/review_result/*
admin/upload/review_template/*
admin/upload/reviewer_match_result/
admin/upload/xls/*
doc/
expert/export/*
expert/tmp/*
student/tmp/*
student/unused
student/upload/*
tutor/export/*.doc
tutor/export/*.docx