<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="CNSBA/PaperReview/student/fillInTable.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:cZgmg/a1CHyx5bu9ObS8/MfAt982E09qY4VPOJnhk4/hcKadLwvU5sbkbE6JtFh/:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/admin/updatePaper.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:weopmTEU38fGrzL07Ts4WD915momYcYdISHNbr6ql3J/w9+Npthd96ARE50q1UA5:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/expert/doReview.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:gJTNdB5w8v2kXgp8y9VWhbcDgwTYOy37y43j5a9SsKWpNnOA3Zni9Bde6WAJj90P:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/tutor/updatePaper.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:iHjYiVobXynYALDP5RHjWemC9Aa42b8myCuNcmqM4ouiDFQtyCVFvqxjtdA1Zzi7:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/admin/extra/doReview.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:YqN9GKpmnwedNHOGmsvvb1SOTH2BQpe8rAXup0GhE8cCIRQzZCythbEclsStMLZC:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/TutorRecruit/admin/batchExportProfile.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:4Y/0hEjEb5/xWZsreu2AaW77Epd6cJaKz48kuYrDo5KBRwBftinHOogG3/jvteBZ:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/TutorRecruit/admin/batchExportProfileById.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:j2PkV3Bv2qUz94LcnZLUYNwuu21O7gJdO1Mo5rXMuZkuED9lqlqLF0838xFIW3B9:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/admin/updateReviewApp.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:lVGfaXL4JeSPJvZq72wC1KiGP09IQ72BC5vBghAafU7F4Kp8Hv25nMhxwqZqNyB+:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/admin/genReviewApp.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:iapIGwezz80wUzZGaesWkAbtut6uac3hJwvnHKrl/IUoaoaZTM00mNIPIHKIxzMl:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/admin/importDetectResult.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:2A68rB/OI46gh67eGdZmDXh5zGkwFPi/ssv1oJEMA1No7JisLF/ASkGbp7+CVkUf:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/admin/importReviewResult.asp">
        <system.webServer>
            <security>
                <authentication>
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/admin/importReviewResultByExcel.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:4AF7UWe0EtUIpExD4Ig7m9ZPT8ZeUzjKVttEHmClOhxB/YHPvmDRLYaPTz4QClCy:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
    <location path="CNSBA/PaperReview/admin/importReviewResult.asp">
        <system.webServer>
            <security>
                <authentication>
                    <anonymousAuthentication userName="IUSR_OFFICE" password="[enc:AesProvider:zt5lLRIE5ceB82/aRJMlYfnidEexNR+Ga51RZaGy0uHebX+gs69cj11uUbeeDdPU:enc]" />
                </authentication>
            </security>
        </system.webServer>
    </location>
</configuration>
