<%

	Dim arrIssueSource:arrIssueSource=Array("11.国家计委、科委项目","12.国家经贸委项目","13.国家自然科学基金项目","14.国务院其它部委项目","21.主管部门（部委级）项目","22.省级项目","31.学校级项目","41.国际合作项目","42.自选项目","43.其它项目（企业委托项目）")
	Dim arrThesisType:arrThesisType=Array("1.基础研究","2.应用研究","3.开发研究","4.其它")
	Dim arrThesisForm:arrThesisForm=Array("产品研发","工程设计","应用研究","工程/项目管理","调研报告")

%><table width="100%">
	<tr><td class="section"><p>Ⅰ 学位申请书</p></td>
	<tr><td><p>（着重概述申请人完成培养计划规定的任务情况及学位论文的工作情况）</p></td></tr>
	<tr><td><p align="center"><textarea name="degree_application" rows="25" cols="100"></textarea></p></td></tr>
	<tr><td class="section"><p>Ⅱ 学位申请资格审查材料</p></td>
	<tr><td class="section2"><p>Ⅱ-1 基本情况</p></td>
	<tr><td><table width="100%">
	<tr><td width="60"><p>姓名：</p></td>
	<td width="110"><input type="text" name="stu_name" size="6" value="<%=Session("StuName")%>" readonly /></td>
	<td width="50"><p>性别：</p></td>
	<td><p><label for="sex_male"><input type="radio" name="sex" id="sex_male" size="5" value="男" />男</label>&nbsp;
	<label for="sex_female"><input type="radio" name="sex" id="sex_female" size="5" value="女" />女</label></p></td>
	<td width="90"><p>出生年月：</p></td>
	<td width="150"><p><input type="text" name="birth_ym" size="3" maxlength="4" />年<input type="text" name="birth_ym" size="1" maxlength="2" />月</p></td>
	<td width="90"><p>身份证号：</p></td>
	<td><input type="text" name="idcard_no" size="18" maxlength="18" /></td></tr>
	<tr><td><p>籍贯：</p></td>
	<td><input type="text" name="native_place" size="6" /></td>
	<td><p>民族：</p></td>
	<td><input type="text" name="nation" size="10" /></td>
	<td><p>入学年月：</p></td>
	<td><p><input type="text" name="entrance_ym" size="3" maxlength="4" />年<input type="text" name="entrance_ym" size="1" maxlength="2" />月</p></td>
	<td><p>政治面貌：</p></td>
	<td><input type="text" name="political_status" size="18" /></td></tr>
	<tr><td><p>学院：</p></td>
	<td colspan="2"><input type="text" name="academy" size="15" value="工商管理学院" readonly /></td><%
	If stu_type=5 Or stu_type=9 Then
		If stu_type=5 Then %>
		<td><p>工程领域名称：</p></td><%
		ElseIf stu_type=9 Then  %>
		<td><p>研究方向：</p></td><%
		End If %>
<td colspan="4"><input type="text" name="research_field" size="38" value="<%=research_field%>" /></td><%
	End If
%></tr><%
	If stu_type=5 Then %>
	<tr><td colspan="4"><p>校内导师姓名、职称：<input type="text" name="school_tutor_name_duty" size="18" value="<%=tutor_name%>&nbsp;<%=tutor_duty_name%>" /></p></td>
	<td colspan="4"><p>校外导师姓名、职称：<input type="text" name="after_school_tutor_name_duty" size="18" /></p></td></tr><%
	Else %>
	<tr><td colspan="8"><p>导师姓名、职称：<input type="text" name="school_tutor_name_duty" size="18" value="<%=tutor_name%>&nbsp;<%=tutor_duty_name%>" /></p></td></tr><%
	End If %>
	<tr><td colspan="8"><p>工作单位及职务（在职）：
	<input type="text" name="workplace_job" size="75%" /></p></td></tr>
	<tr><td colspan="8"><p>在读方式：
	<label for="study_type_1"><input type="radio" name="study_type" id="study_type_1" size="5" value="脱产" />脱产</label>&nbsp;
	<label for="study_type_2"><input type="radio" name="study_type" id="study_type_2" size="5" value="在职" />在职</label></p></td></tr>
	<tr><td colspan="4"><p>大学毕业院校：<input type="text" name="graduated_at" size="22" /></p></td>
	<td colspan="2"><p>专业：<input type="text" name="speciality_name" size="18" /></p></td>
	<td colspan="2"><p>毕业年月：<input type="text" name="graduation_ym" size="3" maxlength="4" />年<input type="text" name="graduation_ym" size="1" maxlength="2" />月</p></td></tr>
	<tr><td colspan="8"><p>在读前获得最后学位：
	<input type="text" name="last_degree" size="80%" /></p></td></tr>
	<tr><td colspan="8"><table width="100%">
	<tr><td colspan="3"><p>简历（大学起）</p></td></tr>
	<tr><td><p align="center">起止时间</p></td>
	<td><p align="center">学习或工作单位</p></td>
	<td><p align="center">职称、职务</p></td></tr><%
	For i=1 To 6 %>
	<tr><td><p align="center"><input type="text" name="resume_duration" size="25" /></p></td>
	<td><p align="center"><input type="text" name="resume_place" size="30" /></p></td>
	<td><p align="center"><input type="text" name="resume_job" size="20" /></p></td></tr><%
	Next %>
	</table></td></tr>
	<tr><td colspan="8"><p>奖惩情况：</p></td></tr>
	<tr><td colspan="8"><p align="center"><textarea name="honor_penalty" rows="10" cols="100"></textarea></p></td></tr></table></td></tr>
	<tr><td class="section2"><p>Ⅱ-3 学位论文工作情况</p></td></tr>	
	<tr><td><table width="100%">
	<tr><td colspan="4"><p>论文题目：<input type="text" name="subject" size="80" value="<%=subject%>" /></p></td></tr>
	<tr><td colspan="4"><p>论文字数：<input type="text" name="thesis_word_count" size="3" />万</p></td></tr>
	<tr><td width="115"><p>论文选题来源：</p></td>
	<td><p><select name="issue_source" style="width:300px"><%
	For i=0 To UBound(arrIssueSource)
		val=Mid(arrIssueSource(i),InStr(arrIssueSource(i),".")+1)
	%><option value="<%=val%>"><%=arrIssueSource(i)%></option><%
	Next %></select></p></td>
	<td width="130"><p>项目名称及代码：</p></td>
	<td><input type="text" name="speciality_name_code" size="35" /></td></tr>
	<tr><td width="115"><p>论文类型：</p></td>
	<td><p><select name="thesis_type" style="width:300px"><%
	For i=0 To UBound(arrThesisType)
		val=Mid(arrThesisType(i),InStr(arrThesisType(i),".")+1)
	%><option value="<%=val%>"><%=arrThesisType(i)%></option><%
	Next %></select></p></td>
	<td width="150"><p>论文工作起止时间：</p></td>
	<td><input type="text" name="thesis_duration" size="35" /></td></tr><%
	If stu_type=5 Then %>
	<tr><td width="115"><p>论文形式：</p></td>
	<td colspan="3"><p><%
	For i=0 To UBound(arrThesisForm)
	%><label for="thesis_form_<%=i%>"><input type="radio" name="thesis_form" id="thesis_form_<%=i%>" value="<%=arrThesisForm(i)%>" /><%=arrThesisForm(i)%></label>&emsp;<%
	Next %></p></td></tr><%
	End If %>
	<tr><td colspan="4"><p>学位论文工作简介（主要是论文选题的意义和价值；研究目的；创造性成果等）：</p></td></tr>
	<tr><td colspan="4"><p align="center"><textarea name="thesis_introduction" rows="15" cols="100"></textarea></p></td></tr></table></td></tr>
	<tr><td class="section2"><p>Ⅱ-4 在学期间取得的科研成果（含论文、专著、专利等）</p></td></tr>	
	<tr><td><table width="100%">
	<tr><td><table width="100%">
	<tr><td><p align="center">序号</p></td>
	<td><p align="center">论文（成果）名称</p></td>
	<td><p align="center">年月（卷期号）</p></td>
	<td width="340"><p align="center">成果鉴定、获专利、颁奖与采用部门或发表刊物及出版单位</p></td>
	<td><p align="center">第几作者</p></td>
	<td><p align="center">被索引收录情况</p></td></tr><%
	For i=1 To 4 %>
	<tr><td><p align="center"><%=i%></p></td>
	<td><p align="center"><input type="text" name="achievement_name" size="20" /></p></td>
	<td><p align="center"><input type="text" name="achievement_ym" size="10" /></p></td>
	<td><p align="center"><input type="text" name="achievement_department" size="35" /></p></td>
	<td><p align="center"><input type="text" name="achievement_authornum" size="4" /></p></td>
	<td><p align="center"><input type="text" name="achievement_embody" size="10" /></p></td></tr><%
	Next %>
	</table></td></tr>
	<tr><td><p>在学期间以本校名义发表论文共<input type="text" name="thesis_count" size="3" />篇，分类统计如下：</p></td></tr>
	<tr><td><table width="70%"><tr>
	<td><p>国内刊物<input type="text" name="thesis_count_domestic_journal" size="3" /></p></td>
	<td><p>国内会议<input type="text" name="thesis_count_domestic_congress" size="3" /></p></td>
	<td><p>国外刊物<input type="text" name="thesis_count_foreign_journal" size="3" /></p></td>
	<td><p>国际会议<input type="text" name="thesis_count_overseas_congress" size="3" /></p></td>
	<td><p>专利<input type="text" name="thesis_count_patent" size="3" /></p></td></tr>
	</table></td></tr>
	<tr><td><p>被索引收录数分类统计：<input type="text" name="embodied_count" size="3" /></p></td></tr>
	</table></td></tr>
	<tr><td class="section2"><p>Ⅱ-5 基层单位审查意见</p></td></tr>	
	<tr><td><p>校内指导教师意见：（包括对申请人的学习情况、思想表现及论文的学术评语，科研工作能力和完成科研工作情况，以及是否同意申请学位论文答辩的意见）</p></td></tr>
	<tr><td><p align="center"><textarea name="school_tutor_eval" rows="15" cols="100"><%=tutor_modify_eval%></textarea></p></td></tr>
</table>