<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <messengers>
    <messenger name="ThreeM" postUrl="http://120.77.49.16/sms/HttpBatchSendSM" account="sba3m@hnlg" password="123456"/>
    <messenger name="KashitsuSys" postUrl="http://120.77.49.16/sms/HttpBatchSendSM" account="sbaoffice@hnlg" password="123456"/>
  </messengers>
</configuration>